.main{
      margin: 50px;
    padding-top: 0px;
    font-size: 25px;
    line-height: 50px;
    max-width: 1500px;
    
}

.baldwins-rule{
    width: 800px;
    height: 400px;
    border-radius: 14px;
    margin-left: 50px;
    margin-bottom: 50px;
    float: right;
   
}


.div{
    float: right;
    margin-bottom: 10px;
    margin-left: 50px;
    color: rgba(255, 190, 164, 100);
}


