


.main{
    
    margin: 50px;
    padding-top: 0px;
    font-size: 25px;
    line-height: 50px;
    max-width: 1200px;

}


.bredts-rule{
    width: 600px;
    height: 400px;
    float: right;
    display: block;
    border-radius: 14px;
    margin-left: 50px;
    margin-bottom: 50px;
   
}


.div{
    float: right;
    margin-bottom: 10px;
    margin-left: 50px;
    color: rgba(255, 190, 164, 100);
}




  