
.main{
    
    margin: 50px;
    padding-top: 0px;
    font-size: 25px;
    line-height: 60px;
    max-width: 1200px;

}


.div{
    float: right;
    margin-bottom: 10px;
    margin-left: 50px;
    color: rgba(255, 190, 164, 100);
}




.cieplak-model{


    width: 700px;
    height: 500px;
    float: right;
    display: block;
    border-radius: 14px;
    margin-left: 50px;
    margin-bottom: 50px;

}