
.heading{
font-size: 75px;
color: rgba(255, 190, 164, 100);
font-weight: 300;
text-align: center;
padding-bottom: 40px;}



.main{
    margin: 50px;
    padding-top: 0px;
    font-size: 25px;
    line-height: 40px;

}



.concervation-of-mass{
    width: 600px;
    height: 400px;
    float: right;
    display: block;
    border-radius: 14px;
}


.h2{
    padding-bottom: 40px;
    font-size: 40px;
}


