
.heading{
font-size: 75px;
color: rgba(255, 190, 164, 100);
font-weight: 300;
text-align: center;
padding-bottom: 41px;}



.main{
    margin: 50px;
    padding-top: 0px;
    font-size: 25px;
    line-height: 50px;
    max-width: 1400px;

}



.concervation-of-mass{
    width: 600px;
    height: 400px;
    border-radius: 14px;
    float: right;
    margin-bottom: 50px;
    margin-left: 50px;
}




