
html{
    background-color: rgba(108, 136, 186, 75);
    margin: 0;
    color: floralwhite;
    font-size: 20px;
    font-family: "Encode Sans", sans-serif;
    

   
    
    

}



.heading{
font-size: 75px;
color: rgba(255, 190, 164, 100);
font-weight: 300;
text-align: center;
}

.second-heading{
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
}

.link-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.nav-link{
    margin: 0 8px;
    text-decoration: none;
    color: rgba(255, 190, 164, 100);
    padding: 4px 12px;
    font-weight: 600;
    font-size: 24px;
    background-color: aliceblue;
    border-radius: 14px;
}

.main{
    margin: 50px;
    padding-top: 20px;
    font-size: 25px;
    line-height: 40px;
   text-emphasis:  center;
    

    

}



.hero-image{
      width: 100%;
    height: auto;
    display: block;
    border-radius: 14px;


}


.subheading{
    color: rgba(255, 190, 164, 100);
    font-size: 20px;
    
   

}


.footer{
      list-style-type: none;
      margin: 0 8px;
    text-decoration: none;
    color: rgba(255, 190, 164, 100);
    padding: 4px 12px;
    font-weight: 600;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 14px;
     display: flex;
     justify-content: center;

}


.h2{
    padding-bottom: 60px;
    font-size: 40px;
   padding-left: 130px;
}


















